<div class="container">

    <h2>Update New Student:</h2>
    <div class="row justify-content-center">
        <form method="POST" action="Controller/StudentController.php">
            <input type="hidden" value="<?php echo $student->id ?>" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name"  value="<?php echo $student->name ?>" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" name="age" value="<?php echo $student->age ?>" />
            </div>
            <div class="form-group">
                <label>University</label>
                <input type="text" class="form-control" name="university" value="<?php echo $student->university ?>" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" name="updateStudent" type="submit" value="Update Student">
            </div>
        </form>
    </div>

    <p><a href="Controller/StudentController.php?view=list">Students List</a></p>
</div>